<div class="topic-show-wrapper">
  <div class="container">
    <div class="row">

      <div class="col-md-5 topic-show-image">
        <% if @topic.image.present? %>
        <%= link_to @topic.image.url do %>
        <%= image_tag @topic.image.url %>
        <% end %>
        <% end %>
        <% if @topic.video.present? %>
        <%= video_tag @topic.video.url, controls: true %>
        <% end %>
      </div>

      <div class="col-md-7 topic-show-right">
        <div id="favorite-link-<%= @topic.id %>">
          <% if @topic.favorite_users.include?(current_user) %>
          <%= link_to favorites_path(topic_id: @topic.id), method: :delete, remote: true do %>
          <%= image_tag 'heart001.png', class: 'topic-index-icon2' %>
          <% end %>
          <% else %>
          <%= link_to favorites_path(topic_id: @topic.id), method: :post, remote: true do %>
          <%= image_tag 'heart-black.png', class: 'topic-index-icon2' %>
          <% end %>
          <% end %>
        </div>
        <div class="topic-show-title">
          <%=  @topic.title %>
        </div>
        <div class="topic-show-author">
          <%= image_tag "人物アイコン.png" %>
          <%= link_to(@topic.user.name, user_path(@topic.user.id))  %>
        </div>
        <div class="topic-show-category">
          <%= image_tag "category.png" %>
          <%= @topic.category %>
        </div>
        <hr color="silver">
        <div class="topic-show-text">
          <div class="topic-show-text2">
            <%= image_tag "presen1.png" %>Questions
          </div>
          &nbsp;&nbsp;
          <%= @topic.description %>
        </div>
      </div>
    </div>
  </div>

  <hr width="80%" color="silver">

  <div class="container">
    <div class="row">
      <div class="col-md-5 topic-show-left2">
        <div class="topic-show-review">
          <%= image_tag 'コメント2.png' %>
          <span class="topic-show-comment">Answers</span>
        </div>
        <%= link_to 'Add Answers', new_topic_comment_path(topic_id: @topic.id) , class: 'btn-flat-border' %>
      </div>

      <div class="col-md-7 topic-show-right2">
        <% @topic.comments.each do |comment| %>
        <div class="balloon5">
          <div class="faceicon">
            <% if comment.user.image? %>
            <%= link_to user_path(comment.user.id) do %>
            <%= image_tag comment.user.image.url, class: "tweet-icon" %>
            <% end %>
            <% else %>
            <%= link_to user_path(comment.user.id) do %>
            <%= image_tag "no-image.png", class: "tweet-icon" %>
            <% end %>
            <% end %>
          </div>
          <div class="comment-users">
            <%= link_to(comment.user.name, user_path(comment.user.id)) %>

          </div>
          <div class="chatting">
            <div class="says">
              <%= comment.content %>
              <div class="topic-show-box">
                <% if comment.image.present? %>
                <%= link_to comment.image.url do %>
                <%= image_tag comment.image.url %>
                <% end %>
                <% end %>
                <% if comment.video.present? %>
                <%= video_tag comment.video.url, controls: true %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <hr width="80%" color="silver">

</div>
