<% provide(:title, @user.name) %>
  <div class="show-wrapper">
    <div class="row">
      <h1>
        <div class="show-profile">
          <div class="image-show">
            <% if @user.image? %>
              <%= image_tag @user.image.url %>
            <% else %>
              <%= image_tag("/images/no-image.png") %>
            <% end %>
          </div>
          <div class="show-name">
            <p>Hi, I am
              <%= @user.name %>!</p>
          </div>
          <div class="show-birthday">
            <p>(<%= @user.birthday %>)</p>
          </div>
          <div class="show-bio">
            <%= @user .remarks %>
          </div>
        </div>
      </h1>
    </div>
  </div>
