<!DOCTYPE html>
<html>
  <head>
    <title>YAI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
        <%= link_to root_path do %>
        <span><%= image_tag "yai.png", class: "navbar-brand" %></span>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
        <li>
          <%= link_to "My Profile" , user_path(current_user) %>
        </li>
          <li id="fat-menu" class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              Menu
              <b class="caret"></b>
              <ul class="dropdown-menu">
                <li><%= link_to "category","#" %></li>
                <li><%= link_to "my page",user_path(current_user) %></li>
                <li><%= link_to "post", new_topic_path %></li>
                <li><%= link_to "find", topics_path %></li>
              </ul>
            <li>
              <%= link_to "Log out", logout_path, method: :delete %>
            </li>
          <% else %>
            <li id="fat-menu" class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                Sign In
                <b class="caret"></b>
                <ul class="dropdown-menu">
                  <li><%= link_to "my account",login_path %></li>
                  <li><%= link_to "sign up",new_user_path %></li>
                </ul>
              <% end %>
          </ul>
        </div>
      </nav>

      <%= yield %>

      <script>
        $(function () {
          $(".alert").fadeOut(5000);
        });
      </script>

    </body>
  </html>
